@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

* {
  font-family: "Manrope", serif;
}
.home-logo {
  max-width: 150px;
  margin: 0 !important;
}

.admin-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.admin-cont h2 {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgb(123, 94, 161, 0.1);
}

.pagination-settings {
  margin-top: 1rem;
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dropdowns {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.nav-buttons {
  width: 230px;
  justify-content: space-between;
  display: flex;
}

.table-cont {
  max-height: 500px;
  overflow-y: scroll;
}
