@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

.home-container {
  height: 100vh;
  width: 100%;
  object-fit: contain;
}

.left-image {
  transition: 0.2s;
  width: 55%;
  float: left;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-image {
  width: 80% !important;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  position: fixed;
  filter: blur(1px);
}

.home-content {
  transition: 0.2s;
  width: 45%;
  float: right;
  background-color: #fff;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 72px;
}

.home-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 300px;
  border-radius: 25px;
}

.home-form h3 {
  text-align: center;
  margin-top: 0;
  font-weight: bolder;
}

.home-form p {
  text-align: center;
  margin-top: 0 !important;
  /* font-weight: bolder; */
  margin-top: 1rem;
}

.home-logo {
  max-width: 140px;
  margin: auto;
}

.home-form label {
  margin-bottom: 0.7rem;
  max-width: 600px;
  font-size: 1rem;
  font-weight: bolder;
}

.home-form input,
textarea:focus {
  outline: none !important;
}

.btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-home {
  width: 120px !important;
}
