button {
  transition: 0.2s;
  padding: 12px 32px;
  font-size: 1.1em;
  font-weight: bolder;
  background: #4c2580;
  color: #fff;
  border: 1px;
  cursor: pointer;
  border-radius: 25px;
  margin-bottom: 2rem;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  transition: 0.2s;
  background: rgba(220, 133, 74, 0.5);
  color: #4c2580;
}

button:disabled {
  transition: 0.2s;
  background: rgba(178, 178, 182, 0.5);
  cursor: not-allowed;
  color: #fff;
}
